/* Global */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

/* Cards */

.card {
  display: block;
  width: 200px;
}

.card .frame {
  border-style: solid;
  border-width: 10px;
  border-color: black;
  padding: 5px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

.card img {
  max-width: 170px;
  max-height: 170px;
}

.card .empty {
  border-color: grey;
}

.card .empty span {
  display: block;
  font-size: 100px;
  margin-left: 63px;
  margin-right: 63px;
  margin-top: 27px;
  margin-bottom: 27px;
}

.card .meta {
  margin-left: 20px;

}

.card .meta span {
  display: block;
  font-weight: bold;
  border-style: solid;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border-width: 3px;
  margin-top: 5px;
  padding-left: 2px;
}

.timeline {
  width: 2000px;
}

.timeline li {
  display: inline-block;
  vertical-align: top;
  margin-left: 15px;
}
